uvicorn
python-socketio
aiohttp
numpy
soundfile==0.12.1
sounddevice
streamlit
python-socketio[asyncio_client]
python-socketio[client]
audio-recorder-streamlit
flask
flask-cors
fastapi-socketio
flask-socketio
torchaudio
torch
pydub
git+https://github.com/facebookresearch/seamless_communication
ffmpeg-python
gevent